@using System.Reflection
@using MudBlazor.Extensions
@using UnitedSystemsCooperative.Web.Client.About.Pages
@using UnitedSystemsCooperative.Web.Client.Massacre
@inject ILogger<App> Logger;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly"
            AdditionalAssemblies="_additionalAssemblies">
        <Navigating>
            <UscSpinner/>
        </Navigating>
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(PrimaryLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin/>
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(PrimaryLayout)">
                <NotFoundComponent/>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    // ReSharper disable once FieldCanBeMadeReadOnly.Local
    private List<Assembly> _additionalAssemblies = new()
    {
        typeof(AboutPage).Assembly,
        typeof(MassacrePage).Assembly
    };

    private async Task OnNavigateAsync(NavigationContext args)
    {
        try
        {
            var assemblies = args.Path switch
            {
                _ => Array.Empty<Assembly>()
                };
            _additionalAssemblies.AddRange(assemblies);
        }
        catch (Exception ex)
        {
            Logger.LogError("Error: {Message}", ex.Message);
        }
    }

}